<%- include("../partials/c28_291_header") %>

<div class="container">
		<h1 class="text-center my-4">Edit Comment about <%= selectedCampground.name %></h1>
		<div class="row d-flex justify-content-center">
		<div class="col-sm-10 col-md-8 col-lg-4">
			<form action="/campgrounds/<%= selectedCampground.id %>/comments/<%= selectedComment.id %>?_method=PUT" method="POST">
				<textarea class="form-control my-3" rows="5" name="editedComment[text]"><%= selectedComment.text %></textarea>
				<button class="btn btn-lg btn-primary btn-block my-2">Submit</button>
			</form>
			<a href="/campgrounds/<%= selectedCampground.id %>">Go Back</a>
		</div>
	</div>
</div>

<%- include("../partials/c28_291_footer") %>